{% extends "layout.html" %}

{% block body %}
    <div class="page-container">

	<div class="page-title">
	    <img src="{{ url_for('static',filename='images/bank.jpg') }}" alt="bank.jpg" width="300" height="180">
	    <h3><b>MOBC CREDIT UNION</b></h3>
	    <p>Thank you for choosing MOBC Credit Union for all of your banking needs!</p>
            <p>We have an account to fit your needs no matter how big or small!</p>
            <p> Deposit and withdraw Cash or $MOBC</p>
	</div>

	<div class="page-container">
	    <div class="page-container-head">
		Balance
	    </div>
	    <div class="page-container-body">
			<p>Bank Balance: ${{ '{:,}'.format(current_user.cash_in_bank) }}</p>
            <p>$MOBC Balance: {{ '{:,.2f}'.format(0) }}</p>
	    </div>
	</div>

	<div class="page-container">
	    <div class="page-container-head">
            <p>Cash Transactions</p>
	    </div>
	    <div class="page-container-body">
			<!-- Deposit Form -->
	        <form method=POST action="#">
				<!-- hidden_tag() adds CSRF token to prevent XSS attacks -->
				{{ deposit_form.hidden_tag() }}
				{{ deposit_form.deposit.label(class="form-control-label") }}
				{% if deposit_form.deposit.errors %}
					{{ deposit_form.deposit(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in deposit_form.deposit.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ deposit_form.deposit(class="form-control form-control-lg page-container-form", autocomplete="off") }}
				{% endif%}
				{{ deposit_form.deposit_submit(class="btn btn-outline-danger") }}
			</form>
			
			<!-- Withdraw Form -->
			<form method=POST action="#">
				<!-- hidden_tag() adds CSRF token to prevent XSS attacks -->
				{{ withdraw_form.hidden_tag() }}
				{{ withdraw_form.withdraw.label(class="form-control-label") }}
				{% if withdraw_form.withdraw.errors %}
					{{ withdraw_form.withdraw(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in withdraw_form.withdraw.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ withdraw_form.withdraw(class="form-control form-control-lg page-container-form", autocomplete="off") }}
				{% endif%}
				{{ withdraw_form.withdraw_submit(class="btn btn-outline-danger") }}
			</form>
	    </div>
	</div>

	<div class="page-container">
	    <div class="page-container-head">
		<p>$MOBC Transactions</p>
	    </div>
	    <div class="page-container-body">
		<form action="#">
	            <label for="deposit">Deposit</label><br>
		    <input type="text" name="deposit"><br>
		    <input type="submit" value="deposit">
		</form>
		<form action="#">
		    <label for="withdraw">Withdraw</label><br>
		    <input type="text" name="withdraw"><br>
		    <input type="submit" value="withdraw">
		</form>
	    </div>
        </div>
    </div>	
{% endblock %}
