{% extends "layout.html" %}

{% block body %}
<div class="page-container">
    <div>
        <img src="{{url_for('static',filename='images/bank.jpg')}}" width="300" height="180">
	</div>

    <div>
		<h3><b>MobTies General Hospital</b></h3>
        <p>HEAL YOUR MOBSTER FOR $500</p>
	</div>
      		
    <div class="page-container">
        <div class="page-container-head">
          	<p>Current Health: <span id=current_health>{{ current_user.stats.user_current_health }}</span> / {{ current_user.stats.user_max_health }}</p>
        </div>
        <form action="#" method="POST">
			<!-- hidden_tag() adds CSRF token to prevent XSS attacks -->
			{{ form.hidden_tag() }}
			{{ form.heal_submit(class="btn btn-outline-danger") }}
		</form>

		<legend>Patient List</legend>
		{% for user in users.items %}

			<form method="POST" action="hospital/punch/{{user.id}}">
				<!-- hidden_tag() adds CSRF token to prevent XSS attacks -->
				{{ form.hidden_tag() }}
				<fieldset>
					<b><span style="color: #0081AB">Name:</span> <a href="{{ url_for('my_mobster', id=user.id) }}"><span style="color: #FFDB00">{{ user.username }}</span></a> <span style="color: #FFFFFF">HP: {{ user.stats.user_current_health }} / {{ user.stats.user_max_health }}<span></span></b>
		
					{{ form.punch_submit(class="btn btn-outline-danger") }}
					<hr>
				</fieldset>
			</form>
	

		{% endfor %}
		<!-- Display items(END)-->
      	</div>
    </div>
	<!-- Display page numbers(START) -->
	{% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num and users.next %}
		  	{% if users.page == page_num %}
			  	<a class="btn btn-danger mb-4" href="{{ url_for('hospital', page=page_num) }}">{{ page_num }}</a>
		  	{% else %}
			  	<a class="btn btn-outline-danger mb-4" href="{{ url_for('hospital', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}  
		  	...
		{% endif %}
	{% endfor %}
<!-- Display page numbers(END)-->
</div>	
	
{% endblock %}