{% extends "layout.html" %}

{% block body %}
	<div class="page-container">
	 <div>
	  <img src="{{url_for('static',filename='images/job.png')}}" width="300" height="180">
	 </div>
<br>
    
         <div>
          <h3><b>MOB JOBS</b></h3>
           
            <p> SEA SIDE WALK</p>

             <div class=page-container>
              <div class=page-container-head><p>Wash Dishes at The Harvard Inn</p></div>
               <p>Take a job as a Dishwasher at the Harvard</p>
               <p>Requires: 3 Energy</p>
               <p>Earns: $100, 0.001 $MOBC, 1xp</p>   
               <button class="button" type="button">Do Job</button>
             </div>
<br>
             <div class=page-container>
              <div class=page-container-head><p>Wait Tables at The Harvard Inn</p></div>
               <p>Take a job as a Server at the Harvard</p>
               <p>Requires: Dishwasher Platinum Mastery </p>
               <button class="button" type="button">Do Job</button>
             </div>
<br>
             <div class=page-container>
              <div class=page-container-head><p>Tend Bar at The Harvard Inn</p></div>
               <p>Take a job as a Bartender at the Harvard</p>
               <p>Requires: Sever Platinum Mastery </p>
              <button class="button" type="button">Do Job</button>
             </div>
             


           
         </div>
	</div>
       	
	
{% endblock %}