{% extends "layout.html" %}

{% block body %}
	<div class="page-container">

		<div class="page-title">
			<img src="{{url_for('static',filename='images/job.png')}}" width="300" height="180">
			<h3><b>MOB JOBS</b></h3>
		</div>

		<!-- Display items(START) -->
		{% for mission in missions.items %}
			
			<form method="POST" action="#">
				<!-- hidden_tag() adds CSRF token to prevent XSS attacks -->
				{{ form.hidden_tag() }}
				<fieldset>
					<div class="page-container">
						<div class="page-container-head">
							<p>{{ mission.mission_region }}</p>
							<img src="{{url_for('static', filename='mission_images/' + mission.mission_image) }}" width="80" height="80">
						</div>
						<div class="page-container-body">
							<h6>{{ mission.mission_name }}</h6>
              				<h6>Current Stage: <span id="mission_current_tier">({{ mission.mission_tier }})</span> - <span id="mission_current_stage">{{ current_user.stats.user_current_mission_stage }}</span>/<span id="mission_required_mastery">{{ mission.mission_required_mastery }}</span></h6>
							<h6>Energy Required: {{ mission.mission_required_energy}}</h6>
							<h6>Earns: ${{ mission.mission_reward_min_cash }}-${{ mission.mission_reward_max_cash }}</h6>
							<h6>Earns: {{ mission.mission_reward_min_xp }}xp-{{ mission.mission_reward_max_xp }}xp</h6>
							<p>{{form.mission_submit(class="btn btn-outline-danger")}}</p>
						</div>
					</div>
				</fieldset>
			</form>
			

		{% endfor %}
		<!-- Display items(END)-->

	
  </div>
	
{% endblock %}
