{% extends "layout.html" %}

{% block body %}
	<div class="page-container">

		<div class="page-title">
			<img src="{{url_for('static',filename='images/goldstrike.jpg')}}" alt="goldstrike.jpg" width="300" height="180">
			<h3><b>CLAIM YOUR TURF!</b></h3>
            <p>Territory produces the income you need to keep up with your expenses.</p>
            <p> Your goal is a positive Cash flow. Start by buying a plot of land.</p>
            <p> For even more income, build developments on your land!</p>
            <p> If you lack the Cash to buy what you want, complete missions or attack rivals.</p>
            <div style="color:green;"> Income: ${{ current_user.stats.user_total_income }} (Upkeep: -0)</div>
		</div>

		<!-- Display items(START) -->
		{% for turf in turfs.items %}
			
			<form method="POST" action="turf/sale/{{turf.id}}">
				<!-- hidden_tag() adds CSRF token to prevent XSS attacks -->
				{{ form.hidden_tag() }}
				<fieldset>
					<div class="page-container">
						<div class="page-container-head">
							<p>{{ turf.turf_name }}</p>
							<img src="{{url_for('static', filename='turf_images/' + turf.turf_image) }}" width="80" height="80">
						</div>
						<div class="page-container-body">
							<h6>Income: ${{ turf.turf_income }}</h6>
							<h6>Cost: ${{ turf.turf_cost }} | Sell Price: ${{turf.turf_sell}}</h6>
							<h6>Level Required: {{turf.level_required}}</h6>
							{% for _turf in user.turf %}
								{% if _turf.turf_id == turf.id %}
									<h6>Own: {{_turf.turf_quantity}}</h6>
								{% endif %}
							{% endfor %}
				
							<p>{{form.quantity.label(class="form-control-label") }}:</p>
							<p>{{form.quantity(class="form-control form-control-lg page-container-form") }}</p>
							<p>{{form.buy_submit(class="btn btn-outline-danger")}}</p>
							<p>{{form.sell_submit(class="btn btn-outline-danger")}}</p>
						</div>
					</div>
				</fieldset>
			</form>
			

		{% endfor %}
		<!-- Display items(END)-->

		
    </div>
	<!-- Display page numbers(START) -->
	{% for page_num in turfs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num and turfs.next %}
		  	{% if turfs.page == page_num %}
			  	<a class="btn btn-danger mb-4" href="{{ url_for('turf', page=page_num) }}">{{ page_num }}</a>
		  	{% else %}
			  	<a class="btn btn-outline-danger mb-4" href="{{ url_for('turf', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}  
		  	...
		{% endif %}
	{% endfor %}
<!-- Display page numbers(END)-->
	
{% endblock %}