body {
    background: #1d1c1c;
    color: #ffffff;
    margin-top: 4rem;    
}

h1, h2, h3, h4, h5 {
    color: #444444;
}
  
.bg-dark-red {
    background-color: #4e0e13;
}

.centered {
    text-align: center;
}

.form-centered {
    display: block;
    align-self: center;
}

.menu-text {
    color: #ffffff;
}

.sidebar-item {
    background-color: #1d1c1c;
}
 
.site-header .navbar-nav .nav-link, .sidebar-item a {
    color: #cbd5db;
}
  
.site-header .navbar-nav .nav-link:hover, .side-bar-item a:hover {
    color: #ffffff;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}
  
.content-section {
    background: #353333;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
.article-title {
    color: #cbd5db;
}
  
a.article-title:hover {
    color: #ffffff;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #ffffff;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}

/* Steven */
.page {
    background: #353333;
    padding: 10px 20px;
    border: 2px solid #4e0e13;
    text-align: center;    
}

h3 {
  color: #4e0e13;
}

.menu {
    background: #1d1c1c;
    padding: 10px 20px;
    border: 2px solid #4e0e13;
    text-align: center;
}

.header-img {
    background: #353333;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}

.header-container {
    margin-bottom: 1rem;
}

.page-container {
    background: #1d1c1c;
    padding: 2px 4px;
    border: 2px solid #9E9E9E;
    text-align: center;
}

.page-container-head {
    background: #4e0e13;
    padding: 2px 4px;
    border: 2px solid #9E9E9E;
    text-align: center;
}
.page-container-body {
    margin-left: 30%;
    margin-right: 30%;
}

.page-container-form {
    text-align: center;
}

.button {
  border: 1px solid #9E9E9E;
  color: #9E9E9E;
  background-color: #4e0e13; 
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  margin: 2px 1px;
}

img {
    border: 2px solid #4e0e13
}


/* end steven */

/* Modal Style */

.modal-body {
    color: rgba(0, 0, 0, 0.8);
}

